header {
  background-image: linear-gradient(#04519b, #044687, #033769);
  color: #fff;
  padding: 1rem 0;
  
  .form-group {
    display: flex;
    @media(max-width: 575px){
      margin-bottom: 0.25rem;
    }
  }
  
  .btn-light {
    height: 2.375rem;
  }
  
  .checkbox {
    float: left;
    width: 100%;
    
    label {
      justify-content: left;
    }
  }
}

.form-group {
  padding: 0 .125rem;
}