header {
  background-image: linear-gradient(#04519b, #044687, #033769);
  color: #fff;
  padding: 1rem 0;
  
  .form-group {
    display: flex;
    @media(max-width: 575px){
      margin-bottom: 0.25rem;
    }
  }
  
  .btn-light {
    height: 2.375rem;
  }
  
  .checkbox {
    float: left;
    width: 100%;
    
    label {
      justify-content: left;
    }
  }
}

.form-group {
  padding: 0 .125rem;
}

.navbar {
  margin-bottom: 1rem;
}

.card {
  margin-bottom: 1rem;
}

.card-heading {
  background-image: linear-gradient(#04519b, #044687, #033769);
  color: #fff;
  padding: .75rem 1rem;
  .card-title {
    margin-bottom: 0;
  }
}

.bubble {
  position: relative;
  min-height: 4rem;
  padding: 1rem;
  background: #fff;
  border-radius: .75rem;
  border: 1px solid #ccc;
  
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #fff;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -15px;
    left: -15px;
    top: 50%;
  }
  
  &:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #ccc;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -15px;
    left: -16px;
    top: 50%;
  }
}

.comment-form {
  .form-group {
    width: calc(100% - 56px);
    margin-bottom: 0;
  }
  
  input[type='text']{
    width: 100%;
  }
}

.comment {
  border: 1px solid #ccc;
  border-radius: .313rem;
  padding: .25rem;
  margin: .313rem 0;
  overflow: auto;
  width: 100%;
}